.logo {
    width: 80px;
    height: 80px;
}

.navbar li {
    padding: 25px;
    color: #8B475D;
    line-height: 1;
}

.navbar li a {
    color: inherit;
    text-decoration: none;
}

.topbar:after {
    content: '';
    position: absolute;
    width: 105%;
    height: 2px;
    background: #963253;
    left: 0;
    top: 108px;
}