@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body[data-theme="light"] {
  --bs-body-color: #000;
  --font-color-global: #8b475d;
  --bg-color: #fafafa;
  --footer-bg-color: #fafafa;
  --bs-body-bg: #ececec;
  --bs-border-color: #dee2e6;
}

body[data-theme="dark"] {
  --bs-body-color: #ada4a4;
  --bg-color: #121212;
  --font-color-global: #8b475d;
  --footer-bg-color: #121212;
  --bs-body-bg: #1b1b1b;
  --bs-border-color: #1b1b1b;
}

body {
  font-family: Poppins, sans-serif !important;
  overflow-x: hidden;
  background-color: var(--bg-color) !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif !important;
  box-sizing: border-box;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
code {
  font-size: 1.2em;
}
ul {
  padding-inline-start: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 600px;
}

p a {
  color: var(--font-color-global);
}

form {
  width: 90%;
  margin: 20px auto;
}

form h3.form-head {
  color: var(--font-color-global);
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

.form-outline {
  position: relative;
}

.form-control:focus {
  color: #212529;
  background: var(--bs-body-bg) !important;
  border-color: var(--font-color-global);
  outline: 0;
  box-shadow: 0 0 6px 1px #d87494ad;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
form .btn-primary:hover,
form .btn-primary {
  margin: auto;
  display: block;
  background: var(--font-color-global);
  border: none;
}

.right,
.left {
  width: 200px;
  height: 100%;
}

.game {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.game-info button {
  background-color: var(--font-color-global);
  color: #fff;
  padding: 5px 17px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin: 40px auto 25px;
  display: block;
}

.removePass {
  position: absolute;
  right: 11px;
  top: 16px;
  cursor: pointer;
}

.status {
  margin-bottom: 16px;
  font-size: 40px;
  text-align: center;
  color: var(--font-color-global);
}

.errorMessages {
  padding: 5px 10px;
  color: red;
}

#registerConfirmPassword {
  background-image: none;
}

.Toastify {
  display: contents;
}

.form-control {
  background: var(--bs-body-bg) !important;
}

.form-control:focus,
.form-floating > label {
  color: var(--bs-body-color) !important;
}

@media only screen and (max-width: 1023px) {
  .game-info {
    margin: 0;
    justify-content: center;
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .game-board.center {
    width: 100%;
  }

  .left {
    display: none;
  }

  .game-info.right {
    width: 300px;
    margin: auto;
  }

  .status {
    font-size: 29px;
    margin-bottom: 40px;
  }

  .square {
    width: 100px;
    height: 100px;
    border-width: 3px;
    font-size: 50px;
  }

  .game-info button {
    margin: 40px auto;
    display: block;
    font-size: 17px;
    padding: 6px 14px;
  }

  h1.winner {
    font-size: 35px;
  }

  #footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 319px) {
  .square {
    width: 70px;
    height: 70px;
    border-width: 2px;
    font-size: 40px;
  }

  .game-info.right {
    width: 210px;
    margin: auto;
  }

  .game-info button {
    margin-top: 30px;
    font-size: 14px;
  }

  h1.winner {
    font-size: 30px;
  }

  #footer {
    font-size: 16px;
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
    backdrop-filter: brightness(1);
  }
  20% {
    transform: scale(1.1);
    backdrop-filter: brightness(1);
  }
  30% {
    transform: scale(0);
    backdrop-filter: brightness(1);
  }
  40% {
    transform: scale(1.1);
    backdrop-filter: brightness(1);
  }
  50% {
    transform: scale(0.9);
    backdrop-filter: brightness(1);
  }
  60% {
    transform: scale(1.2);
    backdrop-filter: brightness(0.3);
  }
  100% {
    transform: scale(1.2);
  }
}
