@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h6{margin-top:0}*,body{padding:0}*{box-sizing:border-box;margin:0;font-family:Poppins,sans-serif!important;box-sizing:border-box}h1{font-size:22px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:12px}code{font-size:1.2em}ul{padding-inline-start:20px}body{font-family:sans-serif;margin:20px}

.square {
  background: #fff;
  border: 5px solid #8B475D;
  color: #8B475D;
  float: left;
  font-size: 70px;
  line-height: 34px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 5rem;
  font-size: 33px;
  text-align: center;
  color: #8B475D;
}

.game {
  display: flex;
  width: 1000px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.game-info {
  margin-left: 20px;
}

.game-info button{
  background-color: #8B475D;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  cursor: pointer;
}

.right ,.left {
  width: 200px;
  height: 100%;
}

.center {
  width: 600px;
  height: 100%;
  text-align: center;
}

.board-row {
    width: max-content;
    margin: auto;
}
button.square.\30 {
  border-top: none;
  border-left: none;
}

button.square.\31 {
  border-top: none;
}

button.square.\32 {
  border-top: none;
  border-right: none;
}

button.square.\33 {
  border-left: none;
}

button.square.\35 {
  border-right: none;
}

button.square.\36 {
  border-left: none;
  border-bottom: none;
}

button.square.\37 {
  border-bottom: none;
}

button.square.\38 {
  border-bottom: none;
  border-right: none;
}

@keyframes popup {
  0% {
    transform: scale(0);
    backdrop-filter :brightness(1);
  }
  20% {
    transform: scale(1.1);
    backdrop-filter :brightness(1);
  }
  30% {
    transform: scale(0);
    backdrop-filter :brightness(1);
  }
  40%{
    transform: scale(1.1);
    backdrop-filter :brightness(1);
  }
  50%{
    transform: scale(0.9);
    backdrop-filter :brightness(1);
  }
  60% {
    transform: scale(1.2);
    backdrop-filter :brightness(.3);
  }
  100% {
    transform: scale(1.2);
  }
}

.winner {
  position: fixed;
  font-size: 7rem;
  backdrop-filter :brightness(.3);
  transform: scale(0);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: #cac6c6;
  justify-content: center;
  display: flex;
  align-items: center;
  animation: popup 3s;
  transition: all 2s;
}